.footer {
  background-color: var(--background-color);
  padding: 1rem;
  text-align: center;
  color: var(--text-color);
  font-size: 1rem;
  border-top-color: var(--text-color);
  border-top-width: 1px;
  border-top-style: solid;
  bottom: 0px;
  width: 100%;
  position: relative;
  min-height: var(--footer-height);
  height: var(--footer-height);
  height: auto;
  margin-top: auto;
  z-index: 1;
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 36px;
}

.footer-socials {
  gap: 8px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: x-large;
}

.footer-socials a {
  color: var(--text-color);
}

.footer-socials a:hover {
  color: var(--cta);
}

.footer-text {
  font-size: 1rem;
  margin-bottom: 0px;
  color: var(--text-color);
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0.5rem;

  }
  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
