/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600&display=swap');

/* Project styles */
@import "variables.css";
@import "home.css";

/* External styles */
@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  font-family: var(--font-mono) !important;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

.light-theme {
  --background-color: #ffffff;
  --text-color: #000000;
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark-theme {
  --background-color: #000000;
  --text-color: #ffffff;
  background-color: var(--background-color);
  color: var(--text-color);
}
