/* Light theme */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-background-color: #000000;
  --button-text-color: #ffffff;
  --cta: #007acc;
  --cta-hover: #007acc;
  --light-cta: #007acc;
  --dark-cta: #a05ee6;
  --font-mono: "Fira Code", monospace;
  --font-sans: "Fira Sans", sans-serif;
  --navbar-height: 60px;
  --footer-height: 60px;
  --page-margin-top: var(--navbar-height);
  --hover-shadow: 1px 1px 4px 1px var(--button-background-color);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    --text-color: #ffffff;
    --button-background-color: #ffffff;
    --button-text-color: #000000;
    --cta: #a05ee6;
    --cta-hover: #b785ec;
    --font-mono: "Fira Code", monospace;
  }
}
