/* Light theme */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --font-mono: 'Fira Code', monospace;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    --text-color: #ffffff;
    --font-mono: 'Fira Code', monospace;
  }
}
