.visitor-counter {
  font-family: "Courier New", monospace;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border-radius: 8px;
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 0px;
}

.counter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 0px;
  padding: 0px 8px;
}

.counter-digits {
  font-size: 1rem;
  margin-bottom: 0px;
}

.counter-label {
  font-size: 1rem;
  margin-bottom: 0px;
}
