.visitor-counter {
  font-family: "Courier New", monospace;
  padding: 1rem;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border-radius: 8px;
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.counter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-bottom: 0px;
}

.counter-digits {
  font-size: 1rem;
  margin-bottom: 0px;
}

.counter-label {
  font-size: 1rem;
  margin-bottom: 0px;
}
